<ion-header translucent></ion-header>

<ion-content class="welcome-content" fullscreen>

  <div class="center-block">
    <h1 class="title">Bem-vindo</h1>
    <p class="subtitle">A experiência da lavandaria em apenas 3 passos</p>

    <div class="illustration-wrapper">
      <img src="assets/img/bolhas.svg" alt="Ícone bolhas" class="big-illustration" />
    </div>
  </div>

  <div class="bottom-area">
    <ion-button expand="block" class="start-btn" (click)="onStart()">
      Começar
    </ion-button>
  </div>
</ion-content>