<ion-header translucent></ion-header>

<ion-content fullscreen>

    <div class="container">

        <h2 class="title" style="color: #333333;">Scaneia o código QR e paga</h2>

        <p class="subtitle">
            Basta efetuar a leitura do código QR na máquina selecionada,
            escolher o seu ciclo, selecionar o método de pagamento e o
            seu pedido será processado de imediato.
        </p>

        <img src="assets/img/intro-4.svg" class="illustration" />

        <div class="dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot active"></span>
        </div>

        <ion-button expand="block" class="btn" (click)="onNext()">
            Avançar
        </ion-button>

    </div>

</ion-content>