.status-wrapper {
  display: flex;
  gap: 8px;
  margin: 16px;
}

.machine-title {
  text-align: center;
  margin-top: 4px;
  font-weight: bold;
  font-size: 20px;
}

.section-title {
  margin: 20px 16px 10px;
  font-weight: 600;
}

ion-segment-button {
  display: flex;
  flex-direction: column;
  padding: 6px 0;

  .day-title {
    font-size: 12px;
  }

  .day-number {
    font-size: 16px;
    font-weight: bold;
  }
}

.time-selector {
  padding: 0 16px;
  margin-top: 10px;
}

.actions {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}