<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="container">

    <h1 class="title">Máquina reservada com sucesso!</h1>

    <p class="subtitle">
      A máquina fica reservada até 15 minutos pós marcação.
      A partir desse limite, considere a sua reserva cancelada.
    </p>

    <div class="icon-wrapper">
      <img src="assets/img/confirmacao-reserva.svg" alt="Reservado" />
    </div>

  </div>

  <div class="footer">
    <ion-button class="primary-btn" expand="block" (click)="goHome()">
      Voltar ao ecrã inicial
    </ion-button>
  </div>

</ion-content>