<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-center">Dados Pessoais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Perfil -->
  <div class="profile-container">
    <img class="profile-img" src="/assets/img/tiago.svg" alt="Foto do utilizador">

    <h2 class="profile-name">Tiago Lourenço</h2>

  </div>

  <!-- Lista de ações -->
  <div class="options-container">

    <div class="option-item">
      <div class="left">
        <ion-icon name="mail-outline"></ion-icon>
        <span>tiagolourenço@ipvc.pt</span>
      </div>
    </div>

    <div class="option-item">
      <div class="left">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <span>Alterar palavra-passe</span>
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>

    <div class="option-item">
      <div class="left">
        <ion-icon name="card-outline"></ion-icon>
        <span>Cartões guardados</span>
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>

    <div class="option-item">
      <div class="left">
        <ion-icon name="reader-outline"></ion-icon>
        <span>Dados de facturação</span>
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>

  </div>

  <!-- Espaçamento para o footer -->
  <div style="height: 100px;"></div>

  <!-- Bottom Navigation -->
  <div class="bottom-nav">
    <ion-button fill="clear" class="nav-button" routerLink="/home">
      <ion-icon name="home"></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="nav-button" routerLink="/ler-qr">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-button>
    <div class="center-fab">
      <ion-fab-button routerLink="/reservados" class="central-fab">
        <img src="assets/img/logo_menucentral.svg" alt="SmartWash" class="fab-logo">
      </ion-fab-button>
    </div>
    <ion-button fill="clear" class="nav-button" routerLink="/historico">
      <ion-icon name="time-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="nav-button" routerLink="/perfil">
      <ion-icon name="person-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>