<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title class="title-center">Dados Pessoais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Perfil -->
  <div class="profile-container">
    <img class="profile-img" src="src/img/tiago.svg" alt="Foto do utilizador">

    <h2 class="profile-name">Tiago Lourenço</h2>

    <div class="email-box">
      <ion-icon name="mail-outline"></ion-icon>
      <span>tiagolourenço@ipvc.pt</span>
    </div>
  </div>

  <!-- Lista de ações -->
  <div class="options-container">

    <div class="option-item">
      <div class="left">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <span>Alterar palavra-passe</span>
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>

    <div class="option-item">
      <div class="left">
        <ion-icon name="card-outline"></ion-icon>
        <span>Cartões guardados</span>
      </div>
      <img src="assets/img/card 1.svg" alt="">
    </div>

    <div class="option-item">
      <div class="left">
        <ion-icon name="reader-outline"></ion-icon>
        <span>Dados de facturação</span>
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>

  </div>

  <!-- TAB BAR CUSTOMIZADA -->
  <ion-footer class="tab-footer">

    <div class="tab-container">

      <div class="tab-item" (click)="navigateTo('/home')">
        <ion-icon name="home"></ion-icon>
      </div>

      <div class="tab-item" (click)="navigateTo('/ler-qr')">
        <ion-icon name="qr-code-outline"></ion-icon>
      </div>

      <!-- BOTÃO CENTRAL -->
      <div class="fab-center" (click)="navigateTo('/reservados')">
        <img src="assets/img/logo_menucentral.svg" />
      </div>

      <div class="tab-item" (click)="navigateTo('/historico')">
        <ion-icon name="time-outline"></ion-icon>
      </div>

      <div class="tab-item" (click)="navigateTo('/perfil')">
        <ion-icon name="person-outline"></ion-icon>
      </div>

    </div>

  </ion-footer>
</ion-content>