<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SmartWash
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/perfil">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Bem-vindo ao SmartWash</strong>
    <p>A sua aplicação de lavagem inteligente</p>

    <ion-button expand="block" routerLink="/perfil" style="margin-top: 20px;">
      <ion-icon slot="start" name="person"></ion-icon>
      Ver Perfil
    </ion-button>
  </div>
</ion-content>