<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="login-content">
      <h1 class="login-title">Login</h1>
      <p class="login-subtitle">Por favor introduza as suas credenciais</p>

      <form>
        <ion-item lines="none" class="input-item">
          <ion-input placeholder="Username" type="text" [(ngModel)]="username" name="username">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-input placeholder="Palavra-passe" type="password" [(ngModel)]="password" name="password">
          </ion-input>
        </ion-item>

        <ion-button expand="block" class="submit-button" (click)="onLogin()">
          Submeter
        </ion-button>
      </form>

      <div class="register-link">
        <span class="register-text">Não tem conta? </span>
        <a class="register-link-text" (click)="goToRegister()">Registo</a>
      </div>
    </div>
  </div>
</ion-content>