<ion-header translucent></ion-header>

<ion-content class="onboard-content" fullscreen>

  <div class="text-block">
    <h1 class="title">
      Disponibilidade de máquinas
    </h1>

    <p class="subtitle">
      Vê a disponibilidade de máquinas em<br />
      tempo real e evita as filas de espera!
    </p>
  </div>

  <div class="illustration-wrapper">
    <img src="assets/img/lavadora.svg" class="illustration" />
  </div>

  <!-- Indicadores (bolinhas) -->
  <div class="dots">
    <div class="dot"></div>
    <div class="dot active"></div>
    <div class="dot"></div>
  </div>

  <!-- Botões -->
  <div class="footer-buttons">
    <ion-button fill="outline" class="btn-ghost" (click)="onSkip()">
      Ignorar
    </ion-button>

    <ion-button class="btn-next" (click)="onNext()">
      Avançar
    </ion-button>
  </div>

</ion-content>