/* HEADER */
.custom-header ion-toolbar,
.custom-header-toolbar { 
  --background: #1bc9c7;
  height: 90px;

  

  .header-content {
    display: flex;
    align-items: center;    /* centra horizontalmente */
    justify-content: center;/* centra verticalmente */
    gap: 20px;
    padding: 10px 0;        /* quitar padding lateral para centrar */
    padding-top: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .fab-logo {
    width: 50px;
    height: 50px;
  }

  .header-title {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: -0.5px;
    margin: 0;
    text-align: center;
  }
}

/* LISTA DE RESERVAS */
.reservas-list {
  padding: 18px;
  margin-top: 10px;
}

/* TARJETA */
.reserva-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 18px;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.06);
  border: 1px solid #f0f0f0;
}

/* ICONO */
.icon-col {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-machine {
  width: 48px;
  opacity: 0.95;
}

/* DETALLES */
.details-col {
  flex: 1;
}

.tipo {
  margin: 0;
  font-size: 19px;
  font-weight: 700;
  color: #222;
}

.local {
  margin-top: 2px;
  font-size: 14px;
  color: #777;
}

.data {
  margin-top: 6px;
  font-size: 14px;
  color: #1f7bfd;
  font-weight: 600;
}

/* BOTÓN */
.button-col {
  display: flex;
  align-items: center;
}

.cancel-btn {
  background: #ff4d4d;
  border: none;
  color: white;
  padding: 7px 12px;
  border-radius: 10px;
  font-size: 13px;
  white-space: nowrap;
  box-shadow: 0 2px 6px rgba(255,0,0,0.15);
  transition: 0.2s;
}

.cancel-btn:active {
  transform: scale(0.95);
}

/* FOOTER */
.footer {
  padding: 25px 18px 40px;
}

.primary-btn {
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 14px;
  --background: #1f6bff;
}
