<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="container">

    <h2 class="title">Introduzir código</h2>

    <p class="subtitle">
      Por favor introduza o código enviado para <strong>+351 91xxxxxxxx</strong>
    </p>

    <div class="code-inputs">
      <ion-input maxlength="1" type="text" inputmode="numeric"></ion-input>
      <ion-input maxlength="1" type="text" inputmode="numeric"></ion-input>
      <ion-input maxlength="1" type="text" inputmode="numeric"></ion-input>
      <ion-input maxlength="1" type="text" inputmode="numeric"></ion-input>
    </div>

    <ion-button expand="block" class="btn-confirmar">
      Confirmar
    </ion-button>

    <div class="resend">
      Não recebeste? <span class="link">Reenviar</span>
    </div>

    <div class="login">
      Já tem conta? <span class="link">Login</span>
    </div>

  </div>

</ion-content>