<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="container">
    <h1 class="title">Máquina iniciada!</h1>

    <p class="subtitle">
      Enviaremos uma notificação<br>quando estiver concluído!
    </p>

    <div class="icon-wrapper">
      <img src="assets/img/confirmacao-inicioprograma.svg" alt="Máquina iniciada" />
    </div>
  </div>

  <div class="footer">
    <ion-button expand="block" class="primary-btn" (click)="goHome()">
      Voltar à página inicial
    </ion-button>
  </div>

</ion-content>